<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">


<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-1">
  <span class="navbar-brand mb-0 h1">Student-Details</span>
    <div class="container-fluid">
  
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          
          <li class="nav-item d-flex align-items-center">
            <i class="bi bi-person-circle text-white me-2" style="font-size: 1.5rem;"></i>
            <span class="navbar-text text-white">{{ student.name }}</span>
            
          </li>
        </ul>
      </div>
    </div>
  </nav>

  
  <div class="container-fluid ">
  
    <div class="row min-vh-100 border border-dark">
      
      <div class="col-md-6 d-flex justify-content-center align-items-center p-0 border border-light border-3">
        <img [src]="student.imageUrl" class="img-fluid w-50" alt="Your Image" />
      </div>


      <div class="col-md-6 p-5 border border-dark">
        
        <h2 class="mb-3"> Summary</h2>
        <p class="lead mb-4">
          {{ student.summary }}
        </p>
  
    
        <div class="d-flex flex-column gap-4">
          <button type="button" class="btn btn-primary w-25">Rollnumber: {{ student.rollNumber }} </button>
          <button type="button" class="btn btn-secondary w-30">Subjects:{{ student.subjects }}</button>


          <h4 class="mb-1">Details</h4>
          <section class="d-flex justify-content-start gap-2 mb-2 ps-3">

            <div class="border border-3 border-black px-2 py-1 bg-white d-flex align-items-center rounded">
              <i class="bi bi-house-door me-1 fs-6" style="font-size: 0.9rem;"></i>
              <span class="text-body-small" style="font-size: 0.8rem;">3 BHK</span>
            </div>
            <div class="border border-3 border-black px-2 py-1 bg-white d-flex align-items-center rounded">
              <i class="bi bi-telephone me-1 fs-6" style="font-size: 0.9rem;"></i>
              <span class="text-body-small" style="font-size: 0.8rem;">+91 98765 43210</span>
            </div>
            <div class="border border-3 border-black px-2 py-1 bg-white d-flex align-items-center rounded">
              <i class="bi bi-geo-alt-fill me-1 fs-6" style="font-size: 0.9rem;"></i>
              <span class="text-body-small" style="font-size: 0.8rem;">Blr</span>
            </div>
            <div class="border border-3 border-black px-2 py-1 bg-white d-flex align-items-center rounded">
              <i class="bi bi-calendar me-1 fs-6" style="font-size: 0.9rem;"></i>
              <span class="text-body-small" style="font-size: 0.8rem;"> 2025</span>
            </div>
            <div class="border border-3 border-black px-2 py-1 bg-white d-flex align-items-center rounded">
              <i class="bi bi-award-fill me-1 fs-6" style="font-size: 0.9rem;"></i>
              <span class="text-body-small" style="font-size: 0.8rem;"> 2025</span>
            </div>
          </section>

          <section class="d-flex justify-content-start gap-2  ps-3">
            <div class="border border-3 border-black px-2 py-1 bg-white d-flex align-items-center rounded">
              <i class="bi bi-book me-1 fs-6" style="font-size: 0.9rem;"></i>
              <span class="text-body-small" style="font-size: 0.8rem;"></span>
            </div>

            <div class="border border-3 border-black px-2 py-1 bg-white d-flex align-items-center rounded">
              <i class="bi bi-at me-1 fs-6" style="font-size: 0.9rem;"></i>
              <span class="text-body-small" style="font-size: 0.8rem;">gmail</span>
            </div>
            

          </section>
        </div>
      </div>
    </div>
  </div>
